* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
}

header {
    padding: 10px 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-image: url("./images/norway.jpeg");
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
    background-position: 80%;
    border-top-right-radius: 40px;
}
 
header h2 {
    font-size: 18px;
    font-weight: lighter;
    color: white;
    text-shadow:0 0 10px rgba(0, 0, 0, 0.986);
    padding-left: 30px;
    padding-bottom: 15px;
}

header h2:hover {
    color:black;
    text-shadow:5px 5px 5px black;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    z-index: 1;
}

header nav ul li a {
    color: white;
    padding: 10px 90px 15px 10px;
    font-weight: lighter;
    font-size: 20px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.986);
    text-decoration: none;
}

header nav ul li a:hover {
     color:black;
     text-shadow:5px 5px 5px black;
 }

.hero {
    background-image: url("./images/norway.jpeg");
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
}

.hero-info {
     text-align: center;
     position: relative;
     top: 150px;    
}

.hero-info h1 {
     font-family: sans-serif;
     font-weight: 600;
     font-size: 60px;
     color:white;
    text-shadow: 5px 5px 20px rgba(0, 0, 0, 0.786);
}
 
.hero-info h3 {
    font-family: sans-serif;
    font-weight:700;
    font-size: 25px ;
    color: white;
    text-shadow:5px 5px 20px rgba(0, 0, 0, 0.986)
}

.hero-info h4 {
    font-family: sans-serif;
    font-weight:600;
    font-size: 15px ;
    text-shadow:0 0 10px rgba(248, 240, 240, 0.786);
}

.info-me {
    width: 100%;
    height: 700px;
    background-color: #181818;
    color:#a0a0a0;
    display: flex;
    justify-content: center;
    align-items: center;    
 }

.info-me img {
    width: 30%;
    height: 60vh;
    padding-left: 100px;
    padding-right: 30px;
    border-left: 4px solid #a0a0a0;
}

.info-me h2 {
    position: relative;
    top: -110px;
    left: 79px;
    color: whitesmoke;
}

.info-me p {
    width: 40%;
    padding : 30px;
    text-align: left;
    position: relative;
    left: -60px;
    line-height: 1.5;
}

.my-work {
    height: 150vh;
    background-color: #282828; 
    color: whitesmoke;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: right;
    align-content: center;
}

.my-work h2 {
    color: whitesmoke;
    font-size: 60px;
    font-weight: lighter;
    padding-left: 80px;
    position: relative;
    top: 100px;
    left: 170px;
    border-left: 4px solid #a0a0a0;
}

.project {
    width: 47.5%;
}

.project-big {
    width: 95%;
}

.project img {
    height: 200px;
    border: 5px solid #181818;
    width: 450px;
    position: relative;
    top: 230px;
    left: 130px;
}

.project img:hover {
    opacity: 0.6;
    box-shadow:0px 0px 10px white; 
}

.project-big img {
    height: 250px;
    width: 800px;
    border: 5px solid #181818;
    position: relative;
    left: 320px;
    top: 200px;
}

.project-big img:hover {
    opacity: 0.6;
    box-shadow:0px 0px 10px white;
}

.project-name {
    font-size: 15px;
    position: relative;
    left: 140px;
    top: 200px;
    color: #a0a0a0;
    font-weight: bold;
}

.project-name1 {
    font-size: 15px;
    position: relative;
    left: 1020px;
    top: 160px;
    color: #a0a0a0;
    font-weight: bold;  
}

.contact {
   background-color: #181818;
   width: 100%;
   height: 200px;
   border-bottom-right-radius: 40px;
   padding: 10px 60px;
   display: flex;
   justify-content: space-between;
}

.contact h2 {
    font-size: 50px;
    text-shadow:0px 0px 2px rgba(248, 240, 240, 0.786);
    color: whitesmoke;
    display: flex;
    padding-top: 50px;
    padding-left: 120px;
    font-weight: lighter;
}

.contact ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding-bottom: 25px;
}

.contact ul li a {
    text-decoration: none;
    color: #a0a0a0;
    padding: 10px 90px 15px 10px;
    font-size: 20px;
    text-shadow: 0 0 1px rgba(204, 200, 200, 0.986);
    text-decoration: none;
    border-left: 2px solid #a0a0a0;
}

.contact ul li a:hover {
    color: white;
    text-shadow:0 0 10px rgba(248, 243, 243, 0.786);
}
    
/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    
      header h2 {
        width: 100%;
         font-size: 15px;
      }
    
      header nav ul {
        margin-top: 20px;
        width: 100%;
        text-align: center;
      }
    
      header nav ul li a {
        font-size: 10px;
        padding: 10px;
      }
    }
  
  
  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) {
    header h2 {
       margin-top: 20px;
        font-size: 10px;
        text-align: left;
      }
    
      header nav ul {
        margin-top: 20px;
        width: 100%;
        text-align: center;
      }
    
      header nav ul li a {
        font-size: 10px;
        padding: 10px;
      }

      .my-work {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
      }

      .project img {
          width: 80%;
          height: 100px;
      }

      .project-big img {
          width: 80%;
          height: 100px;
      }

      .info-me {
          text-align: center;
          font-size: 12px;
          width: 100%;
      }

      .info-me h2 {
          font-size: 15px;
          text-align: center;
      }

      .contact h2 {
          font-size: 20px;
      }
      
      .my-work h2 {
          font-size: 30px;
      }
    }

  
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {
   
    }
  
